/* src/components/PropostaWizard/GerarContratoModal.css */
/* O .form-modal-overlay e .form-modal-content podem ser reutilizados */
.form-modal-content.large {
    max-width: 90%;
    width: 950px;
    display: flex;
    flex-direction: column;
    height: 90vh; /* Ocupa 90% da altura da tela */
}

.form-modal-content.large .quill-editor-container {
    flex-grow: 1; /* Faz o editor ocupar o espaço vertical restante */
    display: flex;
    flex-direction: column;
    min-height: 300px; /* Garante uma altura mínima */
}
.form-modal-content.large .ql-container {
    flex-grow: 1;
}