.ql-font-sans-serif {
  font-family: 'Sans Serif', sans-serif;
}
.ql-font-serif {
  font-family: 'Serif', serif;
}
.ql-font-monospace {
  font-family: 'Monospace', monospace;
}
.ql-font-arial {
  font-family: 'Arial', sans-serif;
}
.ql-font-times-new-roman {
  font-family: 'Times New Roman', serif;
}
.ql-font-comic-sans {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
