/* StepFinanceiro.css */

.form-group p {
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
}

.form-group p.green {
  background-color: #e6f4ea;
  color: #1b5e20;
}

.form-group p.red {
  background-color: #fdecea;
  color: #b71c1c;
}

.parcela-item-row {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.parcela-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parcela-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.button-link.delete-link {
  color: #dc3545;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
  text-decoration: underline;
}

.button-link.delete-link:hover {
  color: #a71d2a;
}


.resumo-financeiro-diferenca p {
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
}

.resumo-financeiro-diferenca .green {
  background-color: #e6f4ea;
  color: #1b5e20;
}

.resumo-financeiro-diferenca .red {
  background-color: #fdecea;
  color: #b71c1c;
}